.blog {
    padding: 2rem;
    text-align: center;
    background-color: var(--graylight);
}

.blog-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 1.3;
    padding-bottom: 1rem;
}

.blog-subtitle {
    font-family: 'work sans', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.8;
    padding-bottom: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slick-slide {
    margin-left: 10px;
    margin-right: 10px;
}

    .blogcard {
        background-color: var(--white);
        color: var(--black);
        height: 415px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        position:relative;
        text-align: left;
        width: 315px;
    }
        .blog-tag {
            background-color: var(--black);
            color: var(--white);
            font-family: 'sans work',sans-serif;
            font-size: 0.7rem;
            left: 5%;
            padding: 0.5rem 1rem;
            position:absolute;
            text-transform: uppercase;
            top: 40%;
        }

        .blog-image {
            height: 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }

            .blog-image[dataset="1"] {
                background-image: url('../img/blog_3.jpg');
            }

            .blog-image[dataset="2"] {
                background-image: url('../img/blog_2.jpg');
            }

            .blog-image[dataset="3"] {
                background-image: url('../img/blog_1.jpg');
            }

        .blog-posttitle {
            font-family: 'playfair-display', serif;;
            font-size: 1.5rem;
            font-weight: 550;
            padding: 1rem 1.5rem;
        }

        .blog-date {
            font-family: 'sans work',sans-serif;;
            font-size: 0.7rem;
            padding: 0.2rem 1.5rem;
            text-transform: uppercase;
        }

        .blog-text {
            font-family: 'sans work',sans-serif;;
            font-size: 0.7rem;
            overflow-y: hidden;
            line-height: 1.7;
            padding: 0.5rem 1.5rem 1rem 1.5rem;
        }


@media (min-width: 768px) {

    .blog-subtitle {
        font-size: 0.9rem;
        line-height: 1.7;
    }

}

@media (min-width: 1024px) {
    
    .blog-subtitle {
        font-size: 1rem;
        line-height: 1.5;
    }

}