/*contact*/

.contact {
    background-color: var(--graylight);
    padding: 2rem;
}

.contact-box {
    display: flex;
    flex-direction: column;
}

.contact-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 1.3;
    padding-bottom: 1rem;
}

.contact-text {
    font-family: 'work sans', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 1rem;
}

.agency-infos{
    display: flex;
    flex-direction: column;
    font-family: 'work sans', sans-serif;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}


        .agency-infos dl {
            display: flex;
            line-height: 2.5;
        }

        .agency-infos dt {
            font-weight: bold;
            padding-right: 0.7rem;
        }

        .agency-infos dd {
            float: left;
            font-weight: 300;
            letter-spacing: 0.05rem;
        }



/*form*/

.contact-form form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    color: var(--black);
    font-family: 'sans work', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.1rem;
}

textarea {
    height: 100px;   
}

.contact-form form button {
    font-size: 0.8rem;
    background-color: var(--graydark);
    color:var(--white);
    display: inline;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 0.5rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
}

    .form-alert {
        font-family: 'sans work', sans-serif;
        font-weight: lighter;
        font-size: 0.9rem;
        text-align: center;
        margin-top: 20px;
        padding: 15px 25px;
        border-radius: 5px;
        border: 1px solid #ddd;
        background-color: #f2f2f2;
    }

        .form-attention,
        .form-highlight {
            border: 1px solid #db2323;
            color: #db2323;
            background-color: #fff0f0;
        }

        .form-success {
            border: 1px solid #30cf6c;
            color: #30cf6c;
            background-color: #e3ffee;
        }


@media (min-width: 768px) {

    .contact-box {
        display: flex;
        flex-direction: row;
    }

    .contact-text {
        font-size: 0.9rem;
        line-height: 1.7;
    }
    .agency-infos{
        font-size: 0.9rem;
    }
    .agency-infos dl {
        line-height: 2;
    }


    .contact-about {
        width: 50%;
        padding-right: 1.7rem;
    }

    .contact-form {
        width: 50%;
    }

    .contact-form form button {
    display: block;
    font-size: 0.6rem;
    width: 40%;
    margin: auto;
    outline: none;
    }

}

@media (min-width: 1024px) {

    .contact-text {
        font-size: 1rem;
        line-height: 1.5;
    }

    .agency-infos{
        font-size: 1rem;
    }
    .agency-infos dl {
        line-height: 1.8;
    }

    .contact-form form button {
        display: block;
        font-size: 0.8rem;
        width: 40%;
        margin: auto;
        }

        input:active,
        input:focus,
        textarea:active,
        textarea:focus {
            outline: none;
            border: 1px solid var(--graydark);
        }

}