footer {
    background-color: var(--graylight2);
    color: var(--graymedium);
    min-height: 90px;
}

.footer-items {
    display: grid;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3;
    padding-bottom: 1rem;
}

.footer-about {
    display: none;
}

.tweets {
    display: none;
}

.instagram {
    display: none;
}

.copyright {
    text-align: center;
    font-family: 'work sans', sans-serif;
    text-transform: uppercase;
    padding: 1rem;
}

    .copyright p{
    padding-top: 0.2rem;
    }

@media (min-width: 768px) {

    footer {
        padding: 2rem;
    }

    footer h3 {
        color: var(--graymedium2);
    }

    .footer-about {
        display: block;
        padding-bottom: 20px;
    }

    .footer-about p {
        color: var(--graymedium2);
        font-family: "sans work", sans-serif;
        font-size: 0.9rem;
        line-height: 1.7;
        width: 80%;
    }

    .fa {
        color: var(--graymedium2);
        margin-right: 10px;
        margin-top: 20px;
    }

    .fa:hover {
        color: var(--graydark);
    }

    .copyright {
        border-top: 1px solid var(--graymedium);
    }


}

@media (min-width: 1024px) {

    footer {
        background-color: var(--black);
        padding: 2rem;
    }

    footer h3 {
        color: var(--graymedium);
        margin-bottom: 1.5rem;
    }

    .footer-items {
        align-items: flex-start;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 80% 20%;
        grid-template-areas:
        "about tweets insta"
        "copy copy copy";
        justify-items: center;
        padding: 1rem 0;
        
    }

    .footer-about {
        display: block;
        grid-area: "about";
        padding-right: 5%;
        padding-bottom: 0;
    }

        .footer-about p {
            color: var(--graymedium);
            font-family: "sans work", sans-serif;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            width: 100%;
        }

            .fa {
                color: var(--graymedium);
                font-size: 20px;
                margin-right: 3%;
            }

            .fa:hover {
                color: var(--graydark);
            }
    
    .tweets {
        display: block;
        grid-area: "tweets";
    }

        .tweet {
            width: 70%;
            display: flex;
            align-items: baseline;
        }

        .tweet p {
            font-family: "sans work", sans-serif;
            font-size: 1rem;
            line-height: 1.5;
            font-weight: 300;
            margin-left: 2%;
        }
    
    .instagram {
        display: block;
        grid-area: "insta";
    }

        .instagram div {
            display: flex;
            flex-wrap: wrap;
        }

        .instagram-photo {
            display:block;
            width: 100px;
            height: 100px;
            background-color: var(--graymedium2);
            margin: 2px;
            transition: background-color 0.5s;
        }

        .instagram-photo:hover {
            background-color: var(--graymedium1);
        }

    .copyright {
        grid-area: copy;
        display: block;
        text-align: center;
        width: 100%;
        border-top: 1px solid var(--graydark);
        margin-top: 20px;
        padding: 0;
        padding-top: 20px;
        font-size: 0.8rem;
    }


}